html
body{
 color:black;
 background-image:url(secret\ message.jpg);
 background-size:cover;
 margin-left:7%;
 
}
h{
 color:rgb(240, 205, 240);
 text-shadow:0 1px 0 rgba(151, 14, 105, 0.699);
 font-size: 100px;
 
}
p{
     color: rgb(240,205,240);
text-shadow: 0 1px 0 rgba(153, 4, 73, 0.699);
 font-size: 30px;
}
 .caja {
     display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
}
.caja1 {
     display: flex;
     flex-direction: column;

}
.caja2 {
     display: flex;
     flex-direction: column;

}

.btn{
     height: 20px;
     width: 70px;
     margin-top: 10px;
}
#offset{
margin-left:20% ;
}
.codigo{
     font-size: medium;
}
textarea{
background-color:rgb(17, 15, 15);
height: 300px;
width: 300px;
border:black solid;
color: aliceblue;
font-size: medium;
}


#decodificar{
 display:flex;
 position:relative;


}



